@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    /* add custom fonts */
    @font-face {
        font-family: "Dana Regular";
        src: local("Dana"), url("./fonts/Dana/DanaFaNum-Regular.woff2"), format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        src: local("Dana"), url("./fonts/Dana/DanaFaNum-Medium.woff2"), format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        src: local("Dana"), url("./fonts/Dana/DanaFaNum-DemiBold.woff2"), format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: local("Dana"), url("./fonts/Morabba/Morabba-Bold.woff2"), format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: local("Dana"), url("./fonts/Morabba/Morabba-Light.woff2"), format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: local("Dana"), url("./fonts/Morabba/Morabba-Medium.woff2"), format('woff2');
        font-display: swap;
    }
}

@theme {
    /* fonts */
    --font-Dana-Regular: "Dana Regular";
    --font-Dana-Medium: "Dana Medium";
    --font-Dana-DemiBold: "Dana DemiBold";
    --font-Morabba-Bold: "Morabba Bold";
    --font-Morabba-Light: "Morabba Light";
    --font-Morabba-Medium: "Morabba Medium";

    /* colors */
    --color-primary: rgb(255, 196, 81);
    --color-primary-bold: rgb(255, 187, 56);
    --color-gray: rgb(132, 132, 132);
    --color-typing: rgb(68, 68, 68);

    /* breakpoints */
    --breakpoint-xxs: 24.375rem;
    --breakpoint-xs: 30rem;
}

@utility container {
    @apply mx-auto px-4 lg:px-2.5
}

@layer utilities {

    /* add some custom utility classes to tailwind */
    .main-hero {
        background-image: url("/images/hero-bg.jpg");
    }

    .main-hero::before {
        content: "";
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        inset: 0;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* .show-section-animate {
        transition-delay: 0.15s;
        opacity: 1;
        transform: translateZ(0);
        transition-timing-function: ease-in-out;
        transition-duration: 1s;
        transition-property: opacity, transform;
    } */
}

@layer components {
    .drop-down-menu {
        @apply w-50 bg-white invisible opacity-0 absolute z-100 shadow-sm pt-2.5 rounded-xs transition-all duration-200 delay-100 *:hover:bg-primary *:transition-colors *:duration-500 *:p-2.5 last:pb-2.5 *:block *:text-black
    }

    .overlay {
        @apply invisible w-full h-full fixed inset-0 z-150 bg-black/80 opacity-0 transition-all duration-150
    }

    .overlay-visible {
        @apply visible opacity-100
    }

    .sub-menu--open {
        display: none;
    }
}